// Styles
* { margin: 0; padding: 0; box-sizing: border-box; }

@font-face {
  font-family: 'Deckard-Bold';
  src: url('fonts/Deckard-Bold.eot');
  src: url('fonts/Deckard-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Deckard-Bold-sean.woff') format('woff'),
       url('fonts/Deckard-Bold.ttf')  format('truetype'),
       url('fonts/Deckard-Bold.svg#3682e6ea26a3c7e02bad5d07e55fe7de') format('svg');
  font-style: normal;
  font-weight: 700;
}

$col: #ff3b3b;
$serif: "ff-spinoza-web-pro", serif;
$sans: "Deckard-Bold", serif;
$soft: cubic-bezier(0.770, 0.000, 0.175, 1.000);

$phone: 480px;
$tablet: 820px;

body, html { 
	font: 22px/25px $serif; 
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-ms-font-feature-settings: "kern";
	-o-font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	font-kerning: normal;
}
em, i { font-style: italic; }
strong, b { font-weight: 700; }
::-moz-selection { background: $col; color: white; }
::selection { background: $col; color: white; }


#wrap {
	transition: all $soft .7s;
}
.hidden {
	opacity: 0;
	margin-top: -20px;
}

.menu {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0px;
	margin-right: -20px;
	top: 190px;
	z-index: 1;
	transform: rotate(90deg);
	transition: all $soft .3s;
	@media (max-width: $tablet) {
		margin-right: -50px;
		top: 150px;
	}
	@media (max-width: $phone) {
		margin-right: -70px;
		top: 140px;
	}
	ul {
		padding: 30px 0;
		li {
			list-style-type: none;
			display: inline;
			padding: 0 10px 0 0;
			a {
				text-decoration: none;
				color: white; 
				font: 17px/20px $sans;
				-webkit-font-smoothing: antialiased;
			}
		}
	}
	&.open {
		display: block;
		opacity: 1;
		top: 200px;
		pointer-events: auto;
		@media (max-width: $tablet) {
			top: 160px;
		}
		@media (max-width: $tablet) {
			top: 150px;
		}
	}
	&.active {
		ul li a {
			color: $col;
		}
	}
}

.menubutton {
	display: block; 
	position: fixed;
	z-index: 1;
	right: 80px;
	top: 80px;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background: white;
	transition: all $soft .3s;
	animation: popHover .5s infinite;
	animation-play-state: paused; 
	@media (max-width: $tablet) { 
		top: 50px;
		right: 50px;
	}
	@media (max-width: $phone) { 
		top: 30px;
		right: 30px;
	}
	&:hover, &:focus  {
		cursor: url('img/i.png') 20 20, auto;
		transform: scale(2) translateZ(0px);
		opacity: 1;
	}
	&.active {
		background: $col;
	}
	&.active:hover, &.active:focus {
		cursor: url('img/i-w.png') 20 20, auto;
		transform: scale(2) translateZ(0px);
		opacity: 1;
	}
}

.intro {
	display: block;
	padding: 6vw 25vw 8vw 7vw;
	background: transparent;
	color: white;
	height: 600px;
	-webkit-font-smoothing: antialiased;
	@media (max-width: $phone) { 
		padding: 6vw 15vw 8vw 7vw;
		height: 400px;
	}
	h2 {
		font: 34px/43px $sans;
		@media (max-width: $tablet) {
			font: 28px/36px $sans;
		}
		@media (max-width: $phone) { 
			font: 20px/26px $sans;
		}

		span {
			position: relative;
			&:after {
				content: '';
				width: 100%;
				height: 1px;
				display: block;
				background: white;
				position: absolute;
				margin-top: -7px;
				transition: all $soft .5s;
			}
			&:hover, &:focus {
				cursor: pointer;
				&:after {
					height: 4px;
					margin-top: -7px;
					background: rgba(255,255,255,.5);
				}
			}
		}
	}
}

.events {
	padding: 80px 0 50vh 0; 
	.event {
		display: block;
		padding: 0vw 0vw 0vw 7vw;
		width: 70%;
		overflow: auto;
		color: $col;
		-webkit-font-smoothing: antialiased;
		transition: all $soft .5s;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		font-feature-settings: "onum";
		@media (max-width: $phone) {
			width: 100%;
		}
		@media (max-width: $tablet) {
			width: 90%;
		}
		@media (min-width: $phone) {
			&:hover {
				// padding-left: 8vw;
				span.category {
					margin-left: 10px;
				}
				span.title {
					margin-left: 30px;
				}
				span.date {
					margin-left: 60px;
				}
			}
		}
		a {
			display: block;
			text-decoration: none;
			width: 100%;
			transition: all $soft .3s;
			padding-bottom: 80px;
			color: black;
			h3 {
				font-weight: normal;
				font: 34px/39px $sans;
				transition: all $soft .3s;
				@media (max-width: $phone) {
					font: 28px/34px $sans;
				}
			}
			.category {
				display: inline-block;
				border-bottom: 5px solid black;
				margin-bottom: 3px;
				position: relative;
				z-index: 9999;
				transition: all $soft .3s;
			}
			.title {
				display: block;
				transition: all $soft .3s;
			}
			.date {
				font: 36px/39px $serif;
				transition: all $soft .3s;
				-webkit-font-feature-settings: 'onum';
				@media (max-width: $phone) {
					font: 30px/36px $serif;
				}
			}
		}
	}
	.dim {
		background: transparent !important;
	}
	.conceal {
		height: 300px;
		overflow: hidden;
	}
	.open {
		max-height: 3000px;
		overflow: hidden;
		cursor: default;
	}

}

.contact {
	padding: 6vw 4vw;
	overflow: auto;
	ul {
		float: left;
		width: 55%;
		@media (max-width: $phone) {
			width: 100%;
		}
	}
	li {
		display: inline-block;
		padding: 5px;
	}
	a {
		text-decoration: none;
		font-style: italic;
		color: $col;
		position: relative;
		&:after {
			content: '';
			width: 100%;
			height: 1px;
			display: block;
			background: white;
			position: absolute;
			margin-top: -2px;
			transition: all ease .5s;
		}
		&:hover {
			cursor: pointer;
			&:after {
				height: 1px;
				margin-top: -2px;
				background: $col;
			}
		}

	}
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive { }

.pace .pace-progress {
	background-color: $col;
	position: absolute;
	z-index: -1;
	top: 0;
	height: 600px;
	right: 100%;
	width: 100%;
	@media (max-width: $tablet) {
		height: 600px;
	}
	@media (max-width: $phone) {
		height: 400px;
	}
}