// Styles
* { margin: 0; padding: 0; box-sizing: border-box; }

$col: #ff3b3b;
$font: "ff-spinoza-web-pro", serif;
$soft: cubic-bezier(0.770, 0.000, 0.175, 1.000);

$phone: 480px;
$tablet: 800px;

body, html { font: 22px/25px $font; }
em, i { font-style: italic; }
strong, b { font-weight: 700; }
::-moz-selection { background: $col; color: white; }
::selection { background: $col; color: white; }


#wrap {
	transition: all $soft .7s;
}
.hidden {
	opacity: 0;
	margin-top: -20px;
}

.intro {
	padding: 6vw 35vw 8vw 4vw;
	background: transparent;
	color: white;
	-webkit-font-smoothing: antialiased;
	min-height: 70vh;
	@media (max-width: $phone) {
		padding: 5vw;
		min-height: 100vh;
	}
	h2 {
		font: 36px/43px $font;
		letter-spacing: -0.5px;
		@media (max-width: $phone) { 
			font: 32px/40px $font;
		}
		span {
			position: relative;
			&:after {
				content: '';
				width: 100%;
				height: 1px;
				display: block;
				background: white;
				position: absolute;
				margin-top: -7px;
				transition: all $soft .5s;
			}
			&:hover {
				cursor: pointer;
				&:after {
					height: 4px;
					margin-top: -7px;
					background: rgba(255,255,255,.5);
				}
			}
		}
	}
}

.events {
	.event {
		padding: 6vw 4vw;
		overflow: auto;
		color: $col;
		-webkit-font-smoothing: antialiased;
		transition: all $soft .5s;
		max-height: 300px;
		overflow: hidden;
		//border-bottom: 1px solid lighten($col, 35%);
		cursor: pointer;
		position: relative;
		.grad {
			position: absolute; 
			height: 100px;
			left: 0; right: 0;
			bottom: 0;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
			transition: all $soft .5s;
		}
		&:active, &:hover {
			background: lighten($col, 35%);
			.right a {
				margin-left: 0px;
			}
		}
		li {
			list-style-type: none;
		}
		.left {
			float: left;
			width: 45%;
			font: 20px/25px $font;
			@media (max-width: $phone) {  
				padding: 0;
				width: 100%;
			}
		}
		.right {
			float: left;
			width: 55%;
			padding-right: 4vw;
			padding-left: 80px;
			@media (max-width: $phone) {  
				padding: 0 0 50px 0;
				width: 100%;
			}
			p {
				font: 20px/25px $font;
				margin-bottom: 25px;
				&:first-child {
					font: 24px/28px $font;
					margin-left: -80px;
					margin-bottom: 35px;
					@media (max-width: $phone) {
						margin: 0 0 25px 0;
						font: 20px/25px $font;
					}
				}
				span {
					font-weight: 700;
				}
				a {
					color: $col;
					position: relative;
					text-decoration: none;
					&:after {
					content: '';
					width: 100%;
					height: 1px;
					display: block;
					background: $col;
					left: 0;
					position: absolute;
					margin-top: -2px;
					transition: all $soft .5s;
					}
					&:hover {
						cursor: pointer;
						&:after {
							height: 4px;
							margin-top: -2px;
							background: lighten($col, 100%);
						}
					}
				}
			}
			& > a {
				text-decoration: none;
				background: white;
				color: $col;
				font: 700 20px/25px $font;
				padding: 10px;
				display: inline-block;
				margin-bottom: 20px;
				margin-left: -10px;
				transition: all $soft .5s;
				&:hover {
					background: $col;
					color: white;
				}
			}
		}
		.title {
			padding-bottom: 550px;
			@media (max-width: $phone) {
				padding-bottom: 20px;
			}
			h1 {
				display: inline-block;
				border-bottom: 1px solid $col;
			}
			h1, h2 {
				text-transform: uppercase;
				font: 700 18px/22px $font;
				letter-spacing: 1.5px;
			}
			h2 {
				padding-top: 10px;
				color:lighten($col, 20%);
			}
		}
		.panel {
			padding-left: 120px;
			padding-bottom: 80px;
			@media (max-width: $phone) {
				display: none;
			}
			li:first-child {
				font-weight: 700;
			}
		}
		.details {
			padding-left: 30px;
			padding-right: 100px;
			@media (max-width: $phone) {
				display: none;
			}
			a {
				text-decoration: none;
				color: $col;
			}
			li {
				padding-bottom: 30px;
				span {
					font-style: italic;
					display: block;
				}
			}
			.icon {
				width: 20px;
				height: 20px;
				position: absolute;
				margin-top: 50px;
				margin-left: -30px;
				opacity: 0;
				transition: all $soft .3s;
			}
			li:last-child:hover {
				.icon {
					opacity: 1;
				}
			}
		}

	}
	.dim {
		background: transparent !important;
	}
	.conceal {
		height: 300px;
		overflow: hidden;
	}
	.open {
		max-height: 3000px;
		overflow: hidden;
		cursor: default;
	}

}

.contact {
	padding: 6vw 4vw;
	overflow: auto;
	ul {
		float: right;
		width: 55%;
		@media (max-width: $phone) {
			width: 100%;
		}
	}
	li {
		display: inline-block;
		padding: 5px;
	}
	a {
		text-decoration: none;
		font-style: italic;
		color: $col;
		position: relative;
		&:after {
			content: '';
			width: 100%;
			height: 1px;
			display: block;
			background: white;
			position: absolute;
			margin-top: -2px;
			transition: all ease .5s;
		}
		&:hover {
			cursor: pointer;
			&:after {
				height: 1px;
				margin-top: -2px;
				background: $col;
			}
		}

	}
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  // display: none;
}

.pace .pace-progress {
	background-color: $col;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 100%;
	min-height: 70vh;
	width: 100%;
	@media (max-width: $phone) {
		min-height: 100vh;
	}
}