* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Deckard-Bold';
  src: url("fonts/Deckard-Bold.eot");
  src: url("fonts/Deckard-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Deckard-Bold.woff") format("woff"), url("fonts/Deckard-Bold.ttf") format("truetype"), url("fonts/Deckard-Bold.svg#3682e6ea26a3c7e02bad5d07e55fe7de") format("svg");
  font-style: normal;
  font-weight: 700; }
body, html {
  font: 22px/25px "ff-spinoza-web-pro", serif; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: 700; }

::-moz-selection {
  background: #ff3b3b;
  color: white; }

::selection {
  background: #ff3b3b;
  color: white; }

#wrap {
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.7s; }

.hidden {
  opacity: 0;
  margin-top: -20px; }

.menu {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0px;
  margin-right: -20px;
  top: 190px;
  z-index: 1;
  transform: rotate(90deg);
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.3s; }
  @media (max-width: 820px) {
    .menu {
      margin-right: -50px;
      top: 150px; } }
  @media (max-width: 480px) {
    .menu {
      margin-right: -70px;
      top: 140px; } }
  .menu ul {
    padding: 30px 0; }
    .menu ul li {
      list-style-type: none;
      display: inline;
      padding: 0 10px 0 0; }
      .menu ul li a {
        text-decoration: none;
        color: white;
        font: 17px/20px "Deckard-Bold", serif;
        -webkit-font-smoothing: antialiased; }
  .menu.open {
    display: block;
    opacity: 1;
    top: 200px;
    pointer-events: auto; }
    @media (max-width: 820px) {
      .menu.open {
        top: 160px; } }
    @media (max-width: 820px) {
      .menu.open {
        top: 150px; } }
  .menu.active ul li a {
    color: #ff3b3b; }

.menubutton {
  display: block;
  position: fixed;
  z-index: 1;
  right: 80px;
  top: 80px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background: white;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  animation: popHover .5s infinite;
  animation-play-state: paused; }
  @media (max-width: 820px) {
    .menubutton {
      top: 50px;
      right: 50px; } }
  @media (max-width: 480px) {
    .menubutton {
      top: 30px;
      right: 30px; } }
  .menubutton:hover, .menubutton:focus {
    cursor: url("img/i.png") 20 20, auto;
    transform: scale(2) translateZ(0px);
    opacity: 1; }
  .menubutton.active {
    background: #ff3b3b; }
  .menubutton.active:hover, .menubutton.active:focus {
    cursor: url("img/i-w.png") 20 20, auto;
    transform: scale(2) translateZ(0px);
    opacity: 1; }

.intro {
  display: block;
  padding: 6vw 25vw 8vw 7vw;
  background: transparent;
  color: white;
  height: 600px;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 480px) {
    .intro {
      padding: 6vw 15vw 8vw 7vw;
      height: 400px; } }
  .intro h2 {
    font: 34px/43px "Deckard-Bold", serif; }
    @media (max-width: 820px) {
      .intro h2 {
        font: 28px/36px "Deckard-Bold", serif; } }
    @media (max-width: 480px) {
      .intro h2 {
        font: 20px/26px "Deckard-Bold", serif; } }
    .intro h2 span {
      position: relative; }
      .intro h2 span:after {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background: white;
        position: absolute;
        margin-top: -7px;
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s; }
      .intro h2 span:hover, .intro h2 span:focus {
        cursor: pointer; }
        .intro h2 span:hover:after, .intro h2 span:focus:after {
          height: 4px;
          margin-top: -7px;
          background: rgba(255, 255, 255, 0.5); }

.events {
  padding: 80px 0 50vh 0; }
  .events .event {
    display: block;
    padding: 0vw 0vw 0vw 7vw;
    width: 70%;
    overflow: auto;
    color: #ff3b3b;
    -webkit-font-smoothing: antialiased;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    font-feature-settings: "onum"; }
    @media (max-width: 480px) {
      .events .event {
        width: 100%; } }
    @media (max-width: 820px) {
      .events .event {
        width: 90%; } }
    @media (min-width: 480px) {
      .events .event:hover span.category {
        margin-left: 10px; }
      .events .event:hover span.title {
        margin-left: 30px; }
      .events .event:hover span.date {
        margin-left: 60px; } }
    .events .event a {
      display: block;
      text-decoration: none;
      width: 100%;
      transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
      padding-bottom: 80px;
      color: black; }
      .events .event a h3 {
        font-weight: normal;
        font: 34px/39px "Deckard-Bold", serif;
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.3s; }
        @media (max-width: 480px) {
          .events .event a h3 {
            font: 28px/34px "Deckard-Bold", serif; } }
      .events .event a .category {
        display: inline-block;
        border-bottom: 5px solid black;
        margin-bottom: 3px;
        position: relative;
        z-index: 9999;
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.3s; }
      .events .event a .title {
        display: block;
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.3s; }
      .events .event a .date {
        font: 36px/39px "ff-spinoza-web-pro", serif;
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
        -webkit-font-feature-settings: 'onum'; }
        @media (max-width: 480px) {
          .events .event a .date {
            font: 30px/36px "ff-spinoza-web-pro", serif; } }
  .events .dim {
    background: transparent !important; }
  .events .conceal {
    height: 300px;
    overflow: hidden; }
  .events .open {
    max-height: 3000px;
    overflow: hidden;
    cursor: default; }

.contact {
  padding: 6vw 4vw;
  overflow: auto; }
  .contact ul {
    float: left;
    width: 55%; }
    @media (max-width: 480px) {
      .contact ul {
        width: 100%; } }
  .contact li {
    display: inline-block;
    padding: 5px; }
  .contact a {
    text-decoration: none;
    font-style: italic;
    color: #ff3b3b;
    position: relative; }
    .contact a:after {
      content: '';
      width: 100%;
      height: 1px;
      display: block;
      background: white;
      position: absolute;
      margin-top: -2px;
      transition: all ease .5s; }
    .contact a:hover {
      cursor: pointer; }
      .contact a:hover:after {
        height: 1px;
        margin-top: -2px;
        background: #ff3b3b; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace .pace-progress {
  background-color: #ff3b3b;
  position: absolute;
  z-index: -1;
  top: 0;
  height: 600px;
  right: 100%;
  width: 100%; }
  @media (max-width: 820px) {
    .pace .pace-progress {
      height: 600px; } }
  @media (max-width: 480px) {
    .pace .pace-progress {
      height: 400px; } }
